/* UTILITY */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.debug{
    border: 1px solid red;
}

:root{
    --grey: #4a4a4a;
    --white: #ffffff;
    --black-footer: #222222;
    --green-share: #4cc800;
    --black: #000000;
    --red: rgb(255,0,0);
}

body{
    min-width: 1170px;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--black);
}

.flex{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.container{
    width: 90vw;
    margin: 0 auto;
}

/* GENERAL */
body{
    min-width: 1170px;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--black);
}

a{
    text-decoration: none;
    color: var(--white);
}

ul{
    list-style: none;
}
/* HEADER STYLE */

header[class=flex]{
    justify-content: flex-end;
    padding-top: 10px;
}

header .toggle-view span{
    background-color: var(--grey);
    margin-right: 5px;
    color: white;
    border-radius: 5px;
    font-size: 15px;
    padding: 3px;
    cursor: pointer;
}

header .toggle-view span i{
    vertical-align: middle;
}

/* MAIN STYLE */
main{
    padding: 40px 20px 20px;
}

main .user-window{
    width: calc((100% - 42px)/ 7);
    position: relative;
    margin: 5px 3px;
    cursor: pointer;
}

main .user-window img{
    width: 100%;
    height: 14vh;
}

main .user-window .username{
    position: absolute;
    left: 0;
    bottom: 0;
    color: var(--white);
    font-size: 12px;
    background-color: rgba(90, 90, 90, 0.5);
    padding: 5px;
}

main .user-window .window-options{
    display: none;
    position: absolute;
    top: 3px;
    right: 3px;
    color: var(--white);
    background-color: rgba(90, 90, 90, 0.5);
    cursor: pointer;
    padding: 1px 2px;
}

main .user-window:hover .window-options{
    display: inline-block;
}

/* FOOTER STYLE */
footer{
    height: 8vh;
    background-color: var(--black-footer);
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

footer ul li i{
    font-size: 30px;
}

footer ul li p{
    font-size: 10px;
    padding-top: 10px;
}

footer .mic-camera{
    width: 150px;
    text-align: center;
    padding: 5px 10px;
}

footer .main-menu{
    flex-basis: 33%;
    text-align: center;
    padding: 5px 10px;
}

footer .main-menu ul li:nth-of-type(4) i{
    color: var(--green-share);
}

footer .end-meeting{
    background-color: var(--grey);
    line-height: 8vh;
    text-align: center;
    padding: 0 10px;
    font-size: 12px;
}

footer .end-meeting .red{
    color: var(--red);
}